body. h1 {
  font-family: 'Times New Roman', Times, serif;
  color: deeppink;
  text-align: center;

}

/* 
  5. Ты хочешь написать стили для заголовка 1 - h1.
  Тебе не нужно указывать body, это лишнее. 
  Тебе НЕ нужно ставить точку (.), так как она ставится только для классов.
  К примеру: если бы ты указала в index.html класс для заголовка <h1 class="название-класса"> ... </h1>,
  то тогда ты могла бы написать в стилях: .название-класса { ... твои стили ... }
  Именно такой подход и будет правильным, используй классы.

  body. h1 {} - неправильно
  body h1 {} - частично правильно. Писать body здесь не нужно
  h1 {} - тоже частично правильно. Лучше использовать классы
  .название-класса - вот самый лучший вариант. Только называй классы на английском.

  И это не сложно, ты разберешься. Почитай книжки и выполняй задания из них. Люблю тебя.
*/